@import './var';
@import url(reset.css);

body {
    color: #FFF4D8;
    background: transparent;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

.main {
    width: 1.6rem;
    height: 2.3rem;
    overflow: hidden;
    position: relative;
    background: url("../img/bg.png");
    background-size: 100% 100%;
}