html.id {
    letter-spacing: -0.015rem;
    .pageIndex {
        background: rgba(101, 98, 229, 1) url(./img/banner.png) no-repeat;
        background-size: 100% auto;
    }
    .extension{
        display: block;
        width: 1.09rem;
        height: 1.26rem;
        background: url(./img/extension.png);
        background-size: 100% 100%;
        margin: 0.3rem auto;
    }
    .rank{
        .tabs{
            span{
                font-size: .32rem;
                font-weight: 500;
            }
        }
    }
    .nums{
        span{
            line-height: .4rem;
            font-size: .2rem;
        }
    }
    .ordinaryTips{
        line-height: .35rem;
    }
}