html.vi {
  .header .magic_engine_text {
    width: 2.38rem;
    height: 0.31rem;
  }

  .header .rule {
    width: 1.9rem;
    height: 0.53rem;
    background: url("./img/Yn_rule_btn.png") 0/100% 100% no-repeat;
    padding-right: 0;
  }

  .middle .soul_contract__box .title {
    font-size: 0.26rem;
  }

  .middle .soul_contract__box .test_time {
    bottom: -0.1rem;
  }

  .middle .soul_contract__box .tacit_agree {
    margin-left: 0.2rem;
  }
  .middle .soul_contract__box .magic_engine {
    margin-left: 0.05rem;
  }

  .middle .say_hello__box .btn {
    width: 2.13rem;
    background: url("./img/hello_btn.png") 0/100% 100% no-repeat;
  }

}