html.id {
    .ranking{
        min-height: 6.32rem;
        height: auto!important;
        padding-bottom: .15rem;
        .other_list{
            .dics{
                line-height: .3rem!important;
            }
        }
    }
}