<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="format-detection" content="telephone=no,email=no">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <% if(lang=='zh'){ %>
    <title>${require('../local/zh/lang').default.share_title}</title>
    <meta name="description" content="${require('../local/zh/lang').default.share_desc}">
    <meta property="og:title" content="${require('../local/zh/lang').default.share_title}">
    <meta property="og:description" content="${require('../local/zh/lang').default.share_desc}">
    <meta property="og:image" content="${require('../local/zh/img/share.png')}">
    <% }else if(lang=='vi'){ %>
    <title>${require('../local/vi/lang').default.share_title}</title>
    <meta name="description" content="${require('../local/vi/lang').default.share_desc}">
    <meta property="og:title" content="${require('../local/vi/lang').default.share_title}">
    <meta property="og:description" content="${require('../local/vi/lang').default.share_desc}">
    <meta property="og:image" content="${require('../local/vi/img/share.png')}">
    <% }else if(lang=='id'){ %>
    <title>${require('../local/id/lang').default.share_title}</title>
    <meta name="description" content="${require('../local/id/lang').default.share_desc}">
    <meta property="og:title" content="${require('../local/id/lang').default.share_title}">
    <meta property="og:description" content="${require('../local/id/lang').default.share_desc}">
    <meta property="og:image" content="${require('../local/id/img/share.png')}">
    <% }else if(lang=='ar'){ %>
    <title>${require('../local/ar/lang').default.share_title}</title>
    <meta name="description" content="${require('../local/ar/lang').default.share_desc}">
    <meta property="og:title" content="${require('../local/ar/lang').default.share_title}">
    <meta property="og:description" content="${require('../local/ar/lang').default.share_desc}">
    <meta property="og:image" content="${require('../local/ar/img/share.png')}">
    <% }else if(lang=='en'){ %>
    <title>${require('../local/en/lang').default.share_title}</title>
    <meta name="description" content="${require('../local/en/lang').default.share_desc}">
    <meta property="og:title" content="${require('../local/en/lang').default.share_title}">
    <meta property="og:description" content="${require('../local/en/lang').default.share_desc}">
    <meta property="og:image" content="${require('../local/en/img/share.png')}">
    <% } %>
    <script>
        (function (doc, win) {
            var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    var size = 100 * (Math.min(clientWidth, 750) / 750);
                    docEl.style.fontSize = size + 'px';
                };
            if (!doc.addEventListener) return;
            win.addEventListener(resizeEvt, recalc, false);
            doc.addEventListener('DOMContentLoaded', recalc, false);
        })(document, window);
    </script>
    <script src="//fstatic.cat1314.com/js/es6-promise.auto.min.js"></script>
    <script src="//fstatic.cat1314.com/js/runtime.js"></script>
    <script src="//fstatic.cat1314.com/js/axios.min.js"></script>
    <script src="//fstatic.cat1314.com/js/vue.runtime.min.js"></script>
    <script src="//fstatic.cat1314.com/js/vuex.min.js"></script>
    <script src="//fstatic.cat1314.com/js/vue-router.min.js"></script>
    <!-- <script src="//fstatic.cat1314.com/js/vue-lazyload.js"></script> -->
    <!-- <script src="//fstatic.cat1314.com/js/svga.lite.min.js"></script> -->
    <script>_hash=$hash$;</script>
</head>
<body>
    <div id="app"></div>
</body>
</html>