html.vi {
    .iconList{
        .title{
            width: 3.54rem!important;
            left: 1.66rem!important;
            .msg{
                background: url(../../img/icon/iconTitle2.png)!important;
                background-size: 100% 100%!important;
            }
        }
    }
    .lvItem{
        .name{
            white-space: nowrap;
        }
        
        .item:nth-child(5),.item:nth-child(6){
            .name{
                margin-left: -0.1rem;
            }
          
        }

    }
}