html.vi {
  .home__container .duck__award .award__box .title {
    line-height: 0.27rem;
  }

  .header .title__box .user_duck {
    width: 2.6rem;
    .nick {
      max-width: 1.1rem;
    }
  }

  .rankGroups .list_des {
    padding-top: 0;
  }
}