html.vi {
    letter-spacing: -0.015rem;
    .ruleTips{
        font-size: .22rem!important;
    }
    .pageIndex{
        background:#9C55F4 url(./img/banner.png) no-repeat;
        background-size: 100% auto;
    }
}