html.vi {
    .shareBar {
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        right: 0;
        text-align: center;
        .bar {
          width: 7.5rem;
          height: 1.2rem;
          margin: auto;
          background: url(./img/share_bar.jpg) no-repeat;
          background-size: 100% 100%;
        }
      }
      .Integral{
        height: 3rem;
      }
      .banner_title {

        background: url(./img/banner_title.png)!important;
        background-size: 100% 100%!important;
      }
      .tipsBox {
      
        span {
          width: 1.74rem!important;
          background: url(./img/ruleTips.png)!important;
          background-size: 100% 100%!important;
        }
      }
}