html.id {
    .main {
        .title {
            top: -2rem;
            img {
                width: 90%;
            }
        }
        .owner {
            width: 2.8rem;
            height: auto!important;
            >div{

            }
        }
    }
}