html.zh {
    .pageIndex {
        background: #6CC94F url(./img/banner.png) no-repeat;
        background-size: 100% auto;
    }
    .sunGetEd{
        background: url(./img/sunGetEd.png);
        background-size: 100% 100%;
    }
    .portal{
        background: url(./img/portal.png);
        background-size: 100% 100%;
    }
}