html.in {
    .tips_box{
        ul{
            li{
                span:nth-of-type(1){
                    &.lv1{
                        background-image: url('./img/lv1.png');
                    }
                }
            }
        }
    }
    .footer{
        .un_cp{
            line-height: .88rem;
        }
    }
    .dice{
        span{
            line-height: .25rem!important;
        }
    }
    .get{
        li{
            height: auto!important;
            min-height: 1.1rem;
            padding:.14rem 0 ;
        }
    }
}