html.zh {
    .pageIndex{
        background: url(./img/banner.png) no-repeat;
        background-size: 100% auto;
    }
    .bollImg{
        &.ball0{
            background: url(./img/gift1.png);
            background-size: 100% 100%;
        }
        &.ball1{
            background: url(./img/gift2.png);
            background-size: 100% 100%;
        }
        &.ball2{
            background: url(./img/gift3.png);
            background-size: 100% 100%;
        }
    }
    .openType{
        .openBtn{
            &.type1{
                background: url(./img/open1.png);
            background-size: 100% 100%; 
            }
            &.type10{
                background: url(./img/open2.png);
            background-size: 100% 100%; 
            }
            &.type20{
                background: url(./img/open3.png);
            background-size: 100% 100%; 
            }
        }
    }
    .ticketIcon{
        background: url(./img/icon.png);
        background-size: 100% 100%; 
    }
    .ruleTable{
        width: 5.74rem;
        height: 2.75rem;
        background: url(./img/ruleTable.png);
        background-size: 100% 100%; 
        margin-top: .2rem;
    }
}