html.vi {
    letter-spacing:-0.03rem;
    .pageIndex{
        background:#FFE3A6 url(./img/banner.png) no-repeat;
        background-size: 100% auto;
    }
    .tab{
        padding: 0 0.1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        >span{
            background-size: 100% 100%!important;
        }
        .tab1{
            width: 3.49rem;
            height: 1.06rem;
            background: url(./img/tab1.png);
            &.act{
                background: url(./img/tab1_act.png);
            }
        }
        .tab2{
            width: 3.49rem;
            height: 1.06rem;
            background: url(./img/tab2.png);
            &.act{
                background: url(./img/tab2_act.png);
            }
        }
    }
    .shovelNums{
        .max{
            margin-right: -.45rem;
        }
    }
    .taskList{
        .msg{
            .gift{
                margin-top: 0rem!important;
            }
        }
        .status{
            em{
                display: block;
                font-size: .2rem;
                line-height: .28rem!important;
                margin-bottom: .1rem;
            }
            strong{
                display: flex;
                align-items: center;
                justify-content: center;
                line-height: .32rem!important;
            }
        }
    }
    .pupTips{
        .rule{
            font-size: .22rem!important;
            width: 1.7rem!important;
            white-space: nowrap;
        }
    }
}