html.vi {
    letter-spacing:-0.015rem;
    .pageIndex{
        background:#FFE3A6 url(./img/banner.png) no-repeat;
        background-size: 100% auto;
    }
    .tab{
        padding: 0 0.1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        >span{
            background-size: 100% 100%!important;
        }
        .tab1{
            width: 3.49rem;
            height: 1.06rem;
            background: url(./img/tab1.png);
            &.act{
                background: url(./img/tab1_act.png);
            }
        }
        .tab2{
            width: 3.49rem;
            height: 1.06rem;
            background: url(./img/tab2.png);
            &.act{
                background: url(./img/tab2_act.png);
            }
        }
    }
    .shovelNums{
        .max{
            margin-right: -.45rem;
        }
    }
}