html.vi {
    letter-spacing: -0.02rem;
    .sex_default_img{
        width:7.5rem ;
        height: 4.28rem;
        background: url(./img/man_default.png);
        background-size: 100% 100%;
        &.woman{
            background: url(./img/woman_default.png);
            background-size: 100% 100%;
        }
    }
}