html.zh {
    .pageIndex{
        background:#7cb4fe url(./img/banner.png) no-repeat;
        background-size: 100% auto ;
    }
    .fans_list{
        background: url(./img/fans_bg.png) no-repeat;
        background-size: 100% auto ;
    }
    .rank{
        background: url(./img/rank.png) no-repeat;
        background-size: 100% auto ;
    }
}