html.vi {
    letter-spacing: -0.015rem;
    .con{
        >.tab{
            span{
                font-weight: 500;
                font-size: .28rem;
            }
        }
    }
    .ball_bar{
        .title{
            font-size: .26rem;
        }
    }
    .tipsArr{
        span{
            display: flex!important;
            align-items: center!important;
            font-size: .22rem!important;
            line-height: .22rem!important;
        }
    }
    .bar_tips{
        margin-top: 0.4rem!important;
        line-height: .25rem;
    }
    .pageIndex{
        background:RGBA(4, 7, 19, 1) url(./img/banner.png) no-repeat;
        background-size: 100% auto;
    }
    .first_pup{
        width:5rem ;
        height: 5.6rem;
        background: url(./img/first_pup.png);
        background-size: 100% 100%;
        padding-top: 1.43rem;
    }
    .boll_luck_pup{
        width:5.99rem ;
        height: 5.55rem;
        background: url(./img/ball_luck_bg.png);
        background-size: 100% 100%;
        padding-top: 1.3rem;
    }
    .ufoLuckPup{
        width:5rem ;
        height: 4.24rem;
        background: url(./img/ufoLuck.png);
        background-size: 100% 100%;
        padding-top: 1.47rem;
    }
    .rank_list{
        background: url(./img/rank_bg.png);
        background-size: 100% auto;
    }
    .rankGroups{
        width: 6.64rem;
        height: 6.45rem;
        background: url(./img/history_bg.png);
        background-size: 100% 100%;
    }
    .rule{
        width: 7.31rem;
        height: 7.24rem;
        background: url(./img/rule.png);
        background-size: 100% 100%;
    }
    .ruleTable{
        width: 6.26rem;
        height: 2.26rem;
        background: url(./img/ruleTable.png);
        background-size: 100% 100%;
        margin-bottom: .3rem;
    }
}