html.vi {
    .pageIndex {
        background: #6CC94F url(./img/banner.png) no-repeat;
        background-size: 100% auto;
    }
    .sunGetEd{
        background: url(./img/sunGetEd.png);
        background-size: 100% 100%;
    }
    .portal{
        background: url(./img/portal.png);
        background-size: 100% 100%;
    }
    .singUp{
        .title{
            font-size: .32rem;
            padding: 0 1rem;
        }
    }
    .growing{
        .time{
            bottom: 1.15rem;
        }
    }
    .tabsList{
        .tabs{
            strong{
                height: .4rem;
                line-height: .4rem;
                font-size: .24rem;
            }
        }
    }
}