html.zh {
    .logo{
        width:3.52rem ;
        height: .77rem;
        background: url(./img/logo.png);
        background-size: 100% 100%;
        position: absolute;
        right: 0.16rem;
        top: .16rem;
    }
    .joinbtn {
        width: 1.18rem;
        height: 0.54rem;
        background: url(./img/joinbtn.png);
        background-size: auto 100%;
        text-align: center;
        line-height: 0.54rem;
        position: absolute;
        top: 0.32rem;
        right: 0.29rem;
      }
}