@import "./reset.css";

body {
    color: $text-black;
    background: #fffdec;
}

a {
    color: $skin;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

#app {
    max-width: 750px;
    margin: auto;
}

// @keyframes bounce {
//     0% {
//         transform: scale(0);
//     }

//     50% {
//         transform: scale(1.2);
//     }

//     100% {
//         transform: scale(1);
//     }
// }
// .bounce-enter-active {
//     transition: opacity .3s;
//     .content {
//         animation: bounce .3s;
//     }
// }
// .bounce-leave-active {
//     transition: opacity .3s;
//     .content {
//         animation: bounce .3s reverse;
//     }
// }

.bounce-enter-active {
    animation: bounce-in 0.5s;
  }
  .bounce-leave-active {
    animation: bounce-in 0.5s reverse;
  }
  @keyframes bounce-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.page {
    box-sizing: border-box;
}
