html.zh {
    .machine{
        background:  url(./img/banner.png);
        background-size: 100% 100%;
    }
    .startStype {
        span {
          width: 1.55rem;
          height: 1.41rem;
          &.type0 {
            background: url(./img/50.png);
            background-size: 100% 100%;
          }
          &.type1 {
            background: url(./img/100.png);
            background-size: 100% 100%;
          }
          &.type2 {
            background: url(./img/200.png);
            background-size: 100% 100%;
          }
          &.type3 {
            background: url(./img/500.png);
            background-size: 100% 100%;
          }
        }
      }
      .user_rank{
          .title{
            background: url(./img/tankTitle.png);
            background-size: 100% 100%;
          }
      }
}