html.zh .pageIndex .content {
  background-image: url("./img/bg.png");
}

html.zh .pageIndex .content .open_task {
  background-image: url("./img/open_task.png");
  right: 0;
  top: 1.57rem;
  width: 2.12rem;
  height: 0.51rem;
}

html.zh .pageIndex .content .btn {
  width: 1.38rem;
  height: 0.6rem;
  line-height: 0.6rem;
  top: 0.81rem;
  right: 0rem;
  background-image: url("./img/open_rule.png");
}
