html.zh .banner {
  background-image: url("./img/banner.png");
}

html.zh .league_box .title {
  background-image: url("./img/find_cp.png");
}

html.zh .league_box .title.salt_title {
  background-image: url("./img/salt_title.png");
}

html.zh .league_box .title.sweet_title {
  background-image: url("./img/sweet_title.png");
}

html.zh .pro_invite_cp .inner .title {
  background-image: url("./img/title_invitecp.png");
}

html.zh .pro_invitation .inner .title {
  background-image: url("./img/title_invitation.png");
}

html.zh .pro_sweet .inner .title {
  background-image: url("./img/record_title.png");
}

html.zh .con .love_box {
  background-image: url("./img/share_has.png");
}

html.zh .con .love_box_null {
  background-image: url("./img/share_null.png");
}
