html.hi {
    .shareBar {
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        right: 0;
        text-align: center;
        .bar {
          width: 7.5rem;
          height: 1.2rem;
          margin: auto;
          background: url(./img/share_bar.png) no-repeat;
          background-size: 100% 100%;
        }
      }
    .box {
        background: #ad2b43 url(./img/banner.png) center 0 no-repeat;
        background-size: 100% auto;
    }
    .giftHistory{
        .title{
            background: url(./img/historyTitle.png);
            background-size: 100% 100%;
        }
    }
    .boxItem{
        .title1{
            background: url(./img/title1.png);
            background-size: 100% 100%;
        }
        .title2{
            background: url(./img/title2.png);
            background-size: 100% 100%;
        }
    }
}