html.vi {
    .pageIndex{
        background: #20B1FD url(./img/banner.png) no-repeat;
        background-size: 100% auto;
    }
    .backItem{
        .title{
            height: .5rem;
            line-height: .55rem;
            font-size: .3rem;
        }
    }
}