html.id {
    .logo{
        width:3.78rem ;
        height: .97rem;
        background: url(./img/logo.png);
        background-size: 100% 100%;
        position: absolute;
        right: 0rem;
        top: .06rem;
        .qurey{
            top: .3rem;
            right: 0.05rem;
        }
    }
    .joinbtn {
        width: 1.18rem;
        height: 0.54rem;
        background: url(./img/joinbtn.png);
        background-size: auto 100%;
        text-align: center;
        line-height: 0.54rem;
        position: absolute;
        top: 0.32rem;
        right: 0.29rem;
      }
      .userLuck{
          div{
            font-weight: normal!important;
          }
         
      }
      .giftNumbers{
          .giftDownTm{
              font-size: .2rem!important;
          }
      }
      .giftName{
        .name{
          font-size: .28rem!important;  
        }
    }
    .numsTips{
        height: auto!important;
        .giftDownTm{
            line-height: .28rem!important;
            height: auto!important;
        }
    }
}