$skin: #fff;

$bg: #F2F2F2;
$bg-gray: #fff;

$text-gray: #fff;
$text-black: #fff;

$font: .32rem;
$font-big: .48rem;
$font-small: .26rem;

$page-padding: .3rem;

$comColor:#6c7edf;

$bgColor:RGBA(151, 176, 250, 1);